
*{
    /* background-color: red; */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
    font-size: 20px;
    cursor: pointer;

}
.btn-primary{ 
    background-color: #1d9bf0;
    border-bottom-left-radius: 9999px;
    border-bottom-right-radius: 9999px;
    border-top-left-radius: 9999px;
    border-top-right-radius: 9999px;
}

.col, .col-6
{
    cursor: pointer;
    height: 100vh;

    border-style: solid;
}
.sidebar{
    width: 200px;
}
.nav-item{
    color: red;
    padding-right: 100px;
}
.nav-item:last-child{
    margin-top: 50vh;
    color: black;
    font-size: 16px;
}
.active{
    font-weight: bold;
}

span{
    font-size: 16px;
}
img{
    border-radius: 50%;
}
.middle-nav{
    background-color: red;
    height: 53px;
    width: 100%;

    display:flex;
    justify-content: space-between;
    align-items: center;
    height: 56px;
    /* padding: 0 32px; */
}
.right-icon{
    right: 50%;
}